<html lang="en">
<head>
    <title>OAuth2 Approve Page</title>
</head>

<body>
    <div id="nav">
        <p>OAuth2</p>
    </div>

    <form action="http://localhost:8000/approve" method="POST" autocomplete="off">

        <div class="cp_iptxt">
            <input class="ef" type="text" id="username" placeholder="@Username" name="username">
            <label>Username</label>
            <span class="focus_line"></span>
        </div>
        <div class="cp_iptxt">
            <input class="ef" type="password" id="password" placeholder="Password" name="password">
            <label>Password</label>
            <span class="focus_line"></span>
        </div>

        <input type="hidden" value="{{requestId}}" name="request-id"/>

        <div id="btn-box">
            <button id="button" disabled>Send</button>
        </div>
    </form>

</body>

<style>
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*Page styles*/
html { height: 100%; }

body {
  height: 100%;
  margin: 0;
  background: #363636;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav {
    width: 100%;
    height: 100px;
    margin: 0;
    background: #484848;
}

#nav > p {
    font: 32px 'Open Sans', Arial, sans-serif;
    color: #ddd;
    margin-left: 80px;
}

form {
  width: 300px;
  height: 300px;
  margin-top: 150px;
  padding: 50px;
  background: #484848;
}

.cp_iptxt {
    position: relative;
    width: 80%;
    margin: 40px 3%;
}
.cp_iptxt input {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 1px;
    padding-left: 1.5em;
    color: white;
}
.cp_iptxt input:focus {
    outline: none;
}


.ef {
    padding: 4px 0;
    border: 0;
    border-bottom: 1px solid #1b2538;
    background-color: transparent;
}
.ef ~ .focus_line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: 0.4s;
    background-color: #1ECD97;
}
.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
    width: 100%;
    transition: 0.4s;
}
.ef ~ label {
    position: absolute;
    z-index: -1;
    top: 4px;
    left: 0;
    width: 100%;
    transition: 0.3s;
    letter-spacing: 0.5px;
    color: #aaaaaa;
}
.ef:focus ~ label, .cp_iptxt.ef ~ label {
    font-size: 12px;
    top: -16px;
    transition: 0.3s;
    color: #1ECD97;
}


#btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    margin-top: 70px;
    width: 130px;
    height: 40px;
    border-radius: 40px;
    font-size: 14px;
    border: 1px solid #1b2538;
    color: #1b2538;
    background: #484848;
}
</style>

<script>
    // Not Allowed Paste.
    window.onload = () => {
        document.body.onpaste = () => {return false;}
    }

    const username = document.getElementById("username");
    const password = document.getElementById("password");
    const button   = document.getElementById("button");

    password.addEventListener("input", (e) => {
       if (8 <= e.target.value.length) {
           if (username.value !== "") {
               button.disabled = false;
               button.style.border = "1px solid #1ECD97";
               button.style.color = "#1ECD97";
           }
       }
    });
</script>
</html>